In [1]:
import pandas as pd

In [48]:
base_df=pd.read_csv('Resources/Popular_ Indicators -Ecomomy _indictors/population-economy.csv')

In [87]:
base_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 778 entries, 0 to 777
Data columns (total 15 columns):
ISO                              777 non-null object
Country                          776 non-null object
Subject Descriptor               776 non-null object
Units                            776 non-null object
Scale                            582 non-null object
Country/Series-specific Notes    694 non-null object
2017                             689 non-null object
2018                             683 non-null object
2019                             680 non-null object
2020                             680 non-null object
2021                             680 non-null object
2022                             680 non-null object
2023                             680 non-null object
2024                             680 non-null object
Estimates Start After            693 non-null float64
dtypes: float64(1), object(14)
memory usage: 91.2+ KB

In [50]:
base_df.columns

Index(['ISO', 'Country', 'Subject Descriptor', 'Units', 'Scale',
       'Country/Series-specific Notes', '2017', '2018', '2019', '2020', '2021',
       '2022', '2023', '2024', 'Estimates Start After'],
      dtype='object')

In [51]:
base_df['Subject Descriptor'].value_counts()

Unemployment rate                                     194
Gross domestic product per capita, constant prices    194
Population                                            194
Gross domestic product, constant prices               194
Name: Subject Descriptor, dtype: int64

In [83]:
unemployment_df=base_df.loc[base_df['Subject Descriptor']=='Unemployment rate'].copy()

In [80]:
unemployment_df.drop(columns=['Scale',)

,ISO,Country,Subject Descriptor,Units,Country/Series-specific Notes,2017,2018,2019,2020,2021,2022,2023,2024,Estimates Start After
2,AFG,Afghanistan,Unemployment rate,Percent of total labor force,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,ALB,Albania,Unemployment rate,Percent of total labor force,Source: National Statistics Office Latest actu...,13.756,12.2,13.719,13.225,13.048,13.331,13.201,13.193,2016.0
10,DZA,Algeria,Unemployment rate,Percent of total labor force,Source: National Statistics Office Latest actu...,11.709,11.731,12.575,13.677,14.957,16.384,18.12,19.847,2017.0
14,AGO,Angola,Unemployment rate,Percent of total labor force,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,ATG,Antigua and Barbuda,Unemployment rate,Percent of total labor force,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,ARG,Argentina,Unemployment rate,Percent of total labor force,Source: National Statistics Office Latest actu...,8.35,9.2,9.943,9.892,9.67,9.41,9.081,8.783,2018.0
26,ARM,Armenia,Unemployment rate,Percent of total labor force,Source: ILO Latest actual data: 2015 Employmen...,18.596,18.136,17.912,17.705,17.772,17.672,17.572,17.472,2015.0
30,ABW,Aruba,Unemployment rate,Percent of total labor force,Source: National Statistics Office Latest actu...,8.923,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016.0
34,AUS,Australia,Unemployment rate,Percent of total labor force,Source: National Statistics Office. Australian...,5.583,5.292,4.793,4.792,4.792,4.788,4.795,4.79,2018.0
38,AUT,Austria,Unemployment rate,Percent of total labor force,Source: National Statistics Office Latest actu...,5.533,4.85,5.1,5,5,5.1,5.1,5.1,2018.0
42,AZE,Azerbaijan,Unemployment rate,Percent of total labor force,Source: National Statistics Office Latest actu...,5.04,5.026,4.993,4.962,4.941,4.925,4.91,4.894,2017.0
46,BHS,The Bahamas,Unemployment rate,Percent of total labor force,Source: National Statistics Office Latest actu...,10.1,9.2,9.046,9.028,8.914,8.82,8.725,8.628,2018.0
50,BHR,Bahrain,Unemployment rate,Percent of total labor force,Source: Other Latest actual data: 2016 Employm...,3.637,3.914,3.949,3.914,3.879,3.867,3.821,3.797,2016.0
54,BGD,Bangladesh,Unemployment rate,Percent of total labor force,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,BRB,Barbados,Unemployment rate,Percent of total labor force,Source: National Statistics Office Latest actu...,9.88,10.118,10.425,10.506,10.295,9.976,9.656,9.337,2017.0
62,BLR,Belarus,Unemployment rate,Percent of total labor force,"Source: National Statistics Office. Formally, ...",0.768,0.768,0.768,0.768,0.768,0.768,0.768,0.768,2017.0
66,BEL,Belgium,Unemployment rate,Percent of total labor force,Source: Central Bank Latest actual data: 2017 ...,7.108,5.917,5.9,5.9,5.9,5.9,5.9,5.9,2017.0
70,BLZ,Belize,Unemployment rate,Percent of total labor force,Source: National Statistics Office Latest actu...,8.987,8.717,10.089,10.55,11.277,12.082,12.862,13.656,2017.0
74,BEN,Benin,Unemployment rate,Percent of total labor force,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,BTN,Bhutan,Unemployment rate,Percent of total labor force,Source: Central Bank Latest actual data: 2015/...,3.2,3.2,3.2,3.2,3.2,3.2,3.2,3.2,2016.0
82,BOL,Bolivia,Unemployment rate,Percent of total labor force,Source: National Statistics Office Latest actu...,4,4,4,4,4,4,4,4,2013.0
86,BIH,Bosnia and Herzegovina,Unemployment rate,Percent of total labor force,Source: National Statistics Office. Total popu...,20.5,18.4,18,18,18,18,18,18,2017.0
90,BWA,Botswana,Unemployment rate,Percent of total labor force,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94,BRA,Brazil,Unemployment rate,Percent of total labor force,Source: National Statistics Office Latest actu...,12.767,12.258,11.4,10.2,9.8,9.5,9.25,9,2018.0
98,BRN,Brunei Darussalam,Unemployment rate,Percent of total labor force,Source: National Statistics Office. Department...,9.3,9.3,9.3,9.3,9.3,9.3,9.3,9.3,2017.0
102,BGR,Bulgaria,Unemployment rate,Percent of total labor force,Source: National Statistics Office Latest actu...,6.23,5.2,5,5,5,5,5,5,2018.0
106,BFA,Burkina Faso,Unemployment rate,Percent of total labor force,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110,BDI,Burundi,Unemployment rate,Percent of total labor force,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114,CPV,Cabo Verde,Unemployment rate,Percent of total labor force,Source: National Statistics Office Latest actu...,9,8.5,8.5,8.5,8.5,8.5,8.5,8.5,2017.0
118,KHM,Cambodia,Unemployment rate,Percent of total labor force,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
658,SDN,Sudan,Unemployment rate,Percent of total labor force,Source: Ministry of Labor and Civil Service an...,19.6,19.5,21.4,20.9,20.6,19.8,19.4,19.1,2011.0
662,SUR,Suriname,Unemployment rate,Percent of total labor force,Source: National Statistics Office. Data publi...,8,7.5,6.95,6.325,5.8,5.175,4.425,3.675,2016.0
666,SWE,Sweden,Unemployment rate,Percent of total labor force,Source: National Statistics Office. National S...,6.683,6.283,6.254,6.308,6.4,6.5,6.6,6.6,2017.0
670,CHE,Switzerland,Unemployment rate,Percent of total labor force,Source: IMF Staff Estimates Latest actual data...,3.186,2.628,2.819,2.793,2.76,2.779,2.746,2.714,2017.0
674,SYR,Syria,Unemployment rate,Percent of total labor force,Source: National Statistics Office Latest actu...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010.0
678,TWN,Taiwan Province of China,Unemployment rate,Percent of total labor force,Source: CEIC Latest actual data: 2018 Employme...,3.76,3.76,3.66,3.66,3.66,3.66,3.66,3.66,2018.0
682,TJK,Tajikistan,Unemployment rate,Percent of total labor force,Source: National Statistics Office Employment ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
686,TZA,Tanzania,Unemployment rate,Percent of total labor force,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
690,THA,Thailand,Unemployment rate,Percent of total labor force,Source: National Statistics Office. Labour For...,1.2,1.2,1.2,1.2,1.2,1.2,1.2,1.2,2017.0
694,TLS,Timor-Leste,Unemployment rate,Percent of total labor force,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
698,TGO,Togo,Unemployment rate,Percent of total labor force,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
702,TON,Tonga,Unemployment rate,Percent of total labor force,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
706,TTO,Trinidad and Tobago,Unemployment rate,Percent of total labor force,Source: National Statistics Office Latest actu...,4.825,4.905,4.825,4.745,4.665,4.585,4.505,4.425,2017.0
710,TUN,Tunisia,Unemployment rate,Percent of total labor force,Source: National Statistics Office Latest actu...,15.513,15.612,NaN,NaN,NaN,NaN,NaN,NaN,2016.0
714,TUR,Turkey,Unemployment rate,Percent of total labor force,Source: Haver Analytics. Data from Turkish Sta...,10.904,10.955,12.703,11.419,10.72,10.72,10.72,10.5,2018.0
718,TKM,Turkmenistan,Unemployment rate,Percent of total labor force,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
722,TUV,Tuvalu,Unemployment rate,Percent of total labor force,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
726,UGA,Uganda,Unemployment rate,Percent of total labor force,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
730,UKR,Ukraine,Unemployment rate,Percent of total labor force,"Source: Haver Analytics. Formally, the State S...",9.65,9.028,8.523,8.06,7.606,7.156,6.707,6.26,2017.0
734,ARE,United Arab Emirates,Unemployment rate,Percent of total labor force,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
738,GBR,United Kingdom,Unemployment rate,Percent of total labor force,Source: National Statistics Office Latest actu...,4.425,4.075,4.229,4.4,4.3,4.2,4.2,4.2,2018.0
742,USA,United States,Unemployment rate,Percent of total labor force,Source: National Statistics Office Latest actu...,4.35,3.892,3.788,3.713,3.754,3.916,4.012,4.19,2018.0
746,URY,Uruguay,Unemployment rate,Percent of total labor force,Source: National Statistics Office Latest actu...,7.925,8.049,8.114,7.885,7.547,7.508,7.379,7.449,2017.0
750,UZB,Uzbekistan,Unemployment rate,Percent of total labor force,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
754,VUT,Vanuatu,Unemployment rate,Percent of total labor force,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
758,VEN,Venezuela,Unemployment rate,Percent of total labor force,Source: National Statistics Office Latest actu...,27.886,35.027,44.337,47.884,50.056,51.476,53.464,56.035,2011.0
762,VNM,Vietnam,Unemployment rate,Percent of total labor force,Source: Other Latest actual data: 2017 Employm...,2.21,2.21,2.21,2.21,2.21,2.21,2.21,2.21,2017.0
766,YEM,Yemen,Unemployment rate,Percent of total labor force,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
770,ZMB,Zambia,Unemployment rate,Percent of total labor force,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
774,ZWE,Zimbabwe,Unemployment rate,Percent of total labor force,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [81]:
#unemployment_df.fillna(0,inplace=True)
unemployment_df.dropna(inplace=True)

In [82]:
unemployment_df['average']=(unemployment_df['2017'].apply(lambda x: float(x))+\
unemployment_df['2018'].apply(lambda x: float(x))+\
unemployment_df['2019'].apply(lambda x: float(x))+\
unemployment_df['2020'].apply(lambda x: float(x))+\
unemployment_df['2021'].apply(lambda x: float(x)))/5


                            
unemployment_df

Empty DataFrame
Columns: [ISO, Country, Subject Descriptor, Units, Scale, Country/Series-specific Notes, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024, Estimates Start After, average]
Index: []

In [84]:
gdp_df=base_df.loc[base_df['Subject Descriptor']=='Gross domestic product, constant prices'].copy()

In [88]:
gdp_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 194 entries, 0 to 772
Data columns (total 15 columns):
ISO                              194 non-null object
Country                          194 non-null object
Subject Descriptor               194 non-null object
Units                            194 non-null object
Scale                            194 non-null object
Country/Series-specific Notes    194 non-null object
2017                             193 non-null object
2018                             193 non-null object
2019                             193 non-null object
2020                             193 non-null object
2021                             193 non-null object
2022                             193 non-null object
2023                             193 non-null object
2024                             193 non-null object
Estimates Start After            194 non-null float64
dtypes: float64(1), object(14)
memory usage: 24.2+ KB

In [96]:
gdp_df.dropna(inplace=True)
gdp_df.head()

,ISO,Country,Subject Descriptor,Units,Scale,Country/Series-specific Notes,2017,2018,2019,2020,2021,2022,2023,2024,Estimates Start After
0,AFG,Afghanistan,"Gross domestic product, constant prices",National currency,Billions,Source: National Statistics Office Latest actu...,506.215,517.858,533.394,552.063,574.127,599.933,629.88,664.452,2017.0
4,ALB,Albania,"Gross domestic product, constant prices",National currency,Billions,Source: IMF Staff Estimates Latest actual data...,789.653,822.522,852.66,885.573,919.717,956.167,994.155,"1,033.83",2017.0
8,DZA,Algeria,"Gross domestic product, constant prices",National currency,Billions,Source: National Statistics Office Latest actu...,"7,371.95","7,523.77","7,698.00","7,834.77","7,942.04","8,028.24","8,059.26","8,094.12",2017.0
12,AGO,Angola,"Gross domestic product, constant prices",National currency,Billions,Source: National Statistics Office. Ministry o...,"1,586.58","1,559.62","1,566.54","1,611.68","1,647.44","1,696.23","1,760.69","1,828.69",2017.0
16,ATG,Antigua and Barbuda,"Gross domestic product, constant prices",National currency,Billions,Source: Central Bank Latest actual data: 2017....,3.333,3.51,3.65,3.77,3.865,3.942,4.021,4.101,2017.0

In [115]:
#gdp_df['average']=gdp_df['2017'].apply(lambda x: float(x))
a=gdp_df.loc[:,['2017','2018','2019','2020']].replace(',', '')
#gdp_df.replace()
a

             2017          2018          2019          2020
0         506.215       517.858       533.394       552.063
4         789.653       822.522        852.66       885.573
8        7,371.95      7,523.77      7,698.00      7,834.77
12       1,586.58      1,559.62      1,566.54      1,611.68
16          3.333          3.51          3.65          3.77
20        725.331       707.092       698.598       713.715
24       3,619.71      3,801.72      3,974.93      4,153.81
28          3.407         3.448         3.472         3.504
32       1,787.33      1,837.57      1,875.65      1,927.40
36        326.749       335.612       342.242        348.06
40         28.739        29.127        30.112        31.038
44         10.742        10.989         11.22          11.4
48          12.43        12.658        12.891        13.162
52       9,851.68     10,612.90     11,386.48     12,183.53
56          9.229         9.183         9.174         9.229
60         77.448        79.796        81.197         83.02
64        431.849       438.043       443.699       449.866
68          2.809         2.895         2.967         3.029
72       4,333.70      4,617.33      4,915.32      5,236.10
76         66.221         70.05        73.423        78.075
80         46.236        48.224        50.153        52.109
84         28.802        29.695        30.615        31.595
88         92.398        96.641       100.423       104.541
92       1,165.58      1,178.55      1,202.77      1,233.25
96         18.378        18.335        19.215        20.489
100        87.094        89.881        92.847        95.632
104      4,930.15      5,227.63      5,540.66      5,872.42
108      1,723.94      1,726.51      1,733.74      1,742.41
112       152.794        160.02       168.052       176.397
116     49,176.89     52,742.71     56,346.84     60,140.93
..            ...           ...           ...           ...
652         1.481          1.51         1.544         1.582
656        22.061        21.591          21.1        20.835
660         9.463         9.652         9.865        10.111
664      4,578.83      4,686.05      4,740.90      4,825.13
668       683.092       700.383       707.796       718.758
676     16,380.81     16,811.63     17,232.83     17,667.55
680         0.258         0.276          0.29         0.303
684    107,669.00    114,758.72    119,344.14    124,366.80
688     10,237.00     10,659.71     11,029.69     11,420.81
692         1.616         1.629         1.711         1.793
696      2,204.86      2,309.54      2,426.15      2,554.74
700          0.87         0.886         0.926         0.972
704       156.212       156.702       156.714       159.044
708        71.046        72.808        74.804        77.231
712      1,693.67      1,737.14      1,693.06      1,736.08
716       106.835       113.501       120.634       127.916
720          0.04         0.041         0.043         0.045
724     58,478.17     62,094.70     65,999.47     70,118.72
728      1,010.17      1,043.42      1,071.69      1,103.73
732      1,422.21      1,446.28      1,487.48      1,536.89
736      2,005.43      2,033.46      2,057.38      2,086.23
740     18,050.70     18,566.48     18,999.27     19,354.78
744       699.702       714.396       727.969       749.808
748    203,901.97    214,097.07    224,801.92    237,166.03
752        66.443        68.569        70.626        72.604
756            --            --            --            --
760  3,262,547.63  3,493,398.87  3,720,469.79  3,962,300.33
764       246.851       240.182       245.123       269.756
768       134.105       138.767       143.052       147.146
772        19.187        19.849        18.807        19.421

[193 rows x 4 columns]

In [13]:
base_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118035 entries, 0 to 118034
Data columns (total 57 columns):
iso3         118035 non-null object
cause2015    118035 non-null object
causename    118035 non-null object
sex          118035 non-null object
age          118035 non-null object
agegroup     118035 non-null object
dths2000     118035 non-null object
low2000      118035 non-null object
upp2000      118035 non-null object
dths2001     118035 non-null object
low2001      118035 non-null object
upp2001      118035 non-null object
dths2002     118035 non-null object
low2002      118035 non-null object
upp2002      118035 non-null object
dths2003     118035 non-null object
low2003      118035 non-null object
upp2003      118035 non-null object
dths2004     118035 non-null object
low2004      118035 non-null object
upp2004      118035 non-null object
dths2005     118035 non-null object
low2005      118035 non-null object
upp2005      118035 non-null object
dths2006     118035 non-null object
low2006      118035 non-null object
upp2006      118035 non-null object
dths2007     118035 non-null object
low2007      118035 non-null object
upp2007      118035 non-null object
dths2008     118035 non-null object
low2008      118035 non-null object
upp2008      118035 non-null object
dths2009     118035 non-null object
low2009      118035 non-null object
upp2009      118035 non-null object
dths2010     118035 non-null object
low2010      118035 non-null object
upp2010      118035 non-null object
dths2011     118035 non-null object
low2011      118035 non-null object
upp2011      118035 non-null object
dths2012     118035 non-null object
low2012      118035 non-null object
upp2012      118035 non-null object
dths2013     118035 non-null object
low2013      118035 non-null object
upp2013      118035 non-null object
dths2014     118035 non-null object
low2014      118035 non-null object
upp2014      118035 non-null object
dths2015     118035 non-null object
low2015      118035 non-null object
upp2015      118035 non-null object
dths2016     118035 non-null object
low2016      118035 non-null object
upp2016      118035 non-null object
dtypes: object(57)
memory usage: 51.3+ MB

In [5]:
pop_df=pd.read_csv('Resources/AAA-ghe2016_deaths_country_allages/population-economy.csv',nrows=10**4, dtype=object)

In [6]:
pop_df.head()

,ISO,Country,Subject Descriptor,Units,Scale,Country/Series-specific Notes,2017,2018,2019,2020,2021,2022,2023,2024,Estimates Start After
0,AFG,Afghanistan,"Gross domestic product, constant prices",National currency,Billions,Source: National Statistics Office Latest actu...,506.215,517.858,533.394,552.063,574.127,599.933,629.88,664.452,2017
1,AFG,Afghanistan,"Gross domestic product per capita, constant pr...",National currency,Units,"See notes for: Gross domestic product, consta...","14,247.51","14,376.94","14,609.52","14,920.61","15,304.27","15,775.93","16,342.44","17,012.45",2016
2,AFG,Afghanistan,Unemployment rate,Percent of total labor force,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AFG,Afghanistan,Population,Persons,Millions,Source: Source: The 2012 revision to the UN Wo...,35.53,36.02,36.51,37,37.514,38.028,38.543,39.057,2016
4,ALB,Albania,"Gross domestic product, constant prices",National currency,Billions,Source: IMF Staff Estimates Latest actual data...,789.653,822.522,852.66,885.573,919.717,956.167,994.155,"1,033.83",2017

In [7]:
pop_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 778 entries, 0 to 777
Data columns (total 15 columns):
ISO                              777 non-null object
Country                          776 non-null object
Subject Descriptor               776 non-null object
Units                            776 non-null object
Scale                            582 non-null object
Country/Series-specific Notes    694 non-null object
2017                             689 non-null object
2018                             683 non-null object
2019                             680 non-null object
2020                             680 non-null object
2021                             680 non-null object
2022                             680 non-null object
2023                             680 non-null object
2024                             680 non-null object
Estimates Start After            693 non-null object
dtypes: object(15)
memory usage: 91.2+ KB